.product-item {
  position: absolute;
  top: 10vh;
  display: inline-block;
  width: 15vw;
  text-align: center;
}

.product-name {
  border: 2px solid black;
  height: auto;
  width: 40vw;
}

.product-image {
  height: auto;
  width: 40vw;
}