.product-left {
  text-align: center;
  margin-left: 20vw;
  display: inline-block;
}

.product-name {
  font-size: 2vw;
  border: 1px solid black;
  height: auto;
  width: 40vw;
}

.product-image {
  height: auto;
  width: 40vw;
}

.product-right {
  margin-top: 10vw;
  font-size: 1.5vw;
  margin-left: 2vw;
  display: inline-block;
}

.product-count {
  width: 40px;
}

.product-bottom {
  text-align: center;
}

.product-text {
  left: 0;
  right: 0;
  height: 4vh;
  color: white;
  background: #0a6b73;
  font-size: 3vh;
  padding-left: 2vw;
}