.menu-bar {
  height: 3vh;
  left: 0;
  right: 0;
  padding-left: 2vw;
  background-color: black;
  display: flex;
  align-items: center;
}

.menu-item {
  display: inline;
  font-size: 2vh;
  margin-right: 5vw;
  color: #FFFFFF;
}

.login-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.53);
}