.cart-container {
  left: 0;
  right: 0;
  text-align: center;
  margin-top: 3vh;
}

.cart-text {
  left: 0;
  right: 0;
  font-size: 4vw;
  border-bottom: 1px solid black;
  font-weight: bold;
}

.cart-item-header {
  margin-left: 20vw;
  width: 60vw;
  display: flex;
  background-color: lightgray;
  border: 1px solid black;
}

.cart-item-name {
  flex: 3;
  overflow: hidden;
}

.cart-item-price {
  flex: 1;
}

.cart-item-count {
  flex: 1;
}

.cart-item-total {
  flex: 1;
}
.cart-item-delete {
  flex: 1;
}