.join-container {
  left: 0;
  right: 0;
  text-align: center;
}

.join-text {
  left: 0;
  right: 0;
  font-size: 4vw;
  border-bottom: 1px solid black;
  font-weight: bold;
}

.join-content {
  margin-top: 3vh;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-left: 20vw;
  margin-right: 20vw;
}

.join-input {
  margin-top: 3vh;
  margin-left: 2vw;
}