.category-bar-container {
  background: #0a6b73;
  left: 0;
  right: 0;
  padding-left: 2vw;
  height: 4vh;
  text-align: center;
  display: flex;
  align-items: center;
}

.category-bar {
  display: inline-block;
}

.category-item {
  list-style-type: none;
  display: inline-block; /* 세로나열을 가로나열로 변경 */
  padding-right: 5vw; /* 각 메뉴 간격 */
  font-size: 2vmin;
  color: #FFFFFF;
}