.category-product-container {
  text-align: center;
}

.category-product-text {
  left: 0;
  right: 0;
  font-size: 4vw;
  border-bottom: 1px solid black;
  font-weight: bold;
}

.category-product-items>div{
  margin-bottom: 1vw;
  margin-right: 1vw;
}