.home-main {
  height: 50vh;
  left: 0;
  right: 0;
  background-color: #FFFFFF;
}

.home-event-text {
  left: 0;
  right: 0;
  padding-left: 2vw;
  height: 4vh;
  color: white;
  background: #0a6b73;
  font-size: 3vh;
}

.home-items{
  padding-left: 3vw;
}

.home-items>div{
  margin-right: 3vw;
}
