.home-left-aside {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  width: 25%;
  background-color: mistyrose;
}

.home-right-aside {
  position: absolute;
  top: 60px;
  bottom: 0;
  right: 0;
  width: 25%;
  background-color: pink;
}

.home-section{
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 25%;
  right: 25%;
  background-color: lightgreen;
}